.plate {
    width: 600px;
    height: 200px;
    position: relative;
    background-color: #ed1000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    
    .middle {
        width: 320px;
        height: 90px;
        background-color: #ba0c00;
        border-radius: 50%;
        position: relative;
        bottom: 20px;
    }

    .card1 .RecipeCard {
        border: 2px solid #00ff22 !important;
    }
}