.card {
    
    border: 1px solid #000000; 
    background-color: rgb(5, 40, 83);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    
    .info {
    
        line-height: 0.05;

        hr {
            border-top: 1px solid black;
        }
        h2 {
            color: rgb(205, 18, 86);
        }
        
        h5 {
            text-align: left;
        }
    }
}